<div id="createAdWrapper">
    <div id="createAdHeader">Create Your Ad</div>
    <div id="createAdSubHeader">Your ad will be seen my other military members and veterans just like you.</div>
    <div id="createAdInstructions">Just fill out the information below</div>
    <div id="newAdTitleWrapper"><input type="text" id="newAdTitle" placeholder="Ad Title"></div>
    <div id="newAdDescriptionWrapper">
      <textarea type="text" id="newAdDescription" placeholder="Ad Description"></textarea>
    </div>
    <choose-location></choose-location>
    <div id="newAdPriceWrapper"><input type="text" id="newAdPrice" step="any" placeholder="Ad Price"></div>
    <div id="newAdImageUploadWrapper">
      <label>Add some Images. Select files here.</label><br>
      <input type="file" id="newAdImageUpload" placeholder="Ad Images" multiple>
    </div>
    <div id="newAdImageList">{{imageList}}</div>
</div>
